<div class="login-container">
  <div class="login-card">
    <h2>Bienvenido</h2>
    <p>Ingresa tus credenciales</p>

    <input type="text" placeholder="Usuario" [(ngModel)]="formulario.usuario">
    <input type="password" placeholder="Contraseña" [(ngModel)]="formulario.contrasena">

    <button (click)="entrar()">Ingresar</button>
    <button class="chng-contr-button" (click)="chngPassword()">Olvide la contraseña</button>
    <button class="chng-contr-button" (click)="volver()">Volver</button>
  </div>
</div>