<div class="login-container">
    <div class="login-card">
      <h2>Recuperar Contraseña</h2>
      <p>Se envio un correo electronico con el codigo necesario</p>
  
      <input type="text" placeholder="Codigo" [(ngModel)]="formulario.codigo">
      <input type="password" placeholder="Nueva Contraseña" [(ngModel)]="formulario.contrasenaNueva">
      <input type="password" placeholder="Repita la Contraseña" [(ngModel)]="formulario.contrasenaConfirmacion">
  
      <button (click)="realizarCambio()">Cambiar Contraseña</button>
    </div>
  </div>